@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: auto;
  font-size: 62.5%;
  line-height: 1.45;
}

body {
  position: relative;
  font-family: "Shippori Mincho", serif;
}

body a {
  -webkit-tap-highlight-color: transparent;
}

body.open {
  overflow: hidden;

  @media (min-width: 768px) {
    overflow: scroll;
  }
}

.main {
  width: 100%;
  margin-top: 82px;
  
  @media (min-width: 768px) {
    margin-top: 70px;
  }
}

.main .section__style {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main .section__style:last-child {
  padding-bottom: 200px;
}

.main h2 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 2.8rem;
  }
}

/* キービジュアル */
.kv {
  width: 100%;
  height: calc(100vh - 82px);
  background-color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (min-width: 768px) {
    height: calc(100vh - 70px);
    align-items: flex-start;
  }
}

.kv .kv__images {
  width: 100%;
  height: calc(562 / 762 * 100%);
  position: relative;
  overflow: hidden;
  
  @media (min-width: 768px) {
    height: calc(676.5 / 740 * 100%);
    margin: calc(20 / 740 * 100vh) calc(150 / 1440 * 100vw) 0;
  }
}

.kv .kv__images .kv__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  animation: image-switch-animation 30s ease-in-out infinite;
}

.kv .kv__images .kv__img:nth-of-type(1) {
  animation-delay: 0s;
}
.kv .kv__images .kv__img:nth-of-type(2) {
  animation-delay: 6s;
}
.kv .kv__images .kv__img:nth-of-type(3) {
  animation-delay: 12s;
}
.kv .kv__images .kv__img:nth-of-type(4) {
  animation-delay: 18s;
}
.kv .kv__images .kv__img:nth-of-type(5) {
  animation-delay: 24s;
}

/* KV 切り替え・ズームアウト */
@keyframes image-switch-animation {
  0%{ opacity: 0; transform: scale(1.05);}
  5%{ opacity: 1;}
  25%{ opacity: 1;transform: scale(1);}
  30%{ opacity: 0;}
  100%{ opacity: 0;}
}

/* アニメーションバー */
.kv .carousel {
  width: 1px;
  height: calc(70 / 844 * 100vh);
  max-height: 70px;
  position: absolute;
  bottom: 0;
  right: 34px;
  overflow: hidden;
  
  @media (min-width: 768px) {
    height: calc(70 / 1440 * 100vh);
    right: calc(90 / 1440 * 100vw);
    transform: translateX(-50%);
  }
}

.kv .carousel .stick {
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  right: 0;
  background-color: #FFFFFF;
  animation: scroll-prompt-stick-in 4s infinite ease-in-out;
}

@keyframes scroll-prompt-stick-in {
  0%{ top: -100%;}
  100%{ top: 100%;}
}

.comment {
  padding: 200px 0 100px;

  @media (min-width: 768px) {
    padding: 300px 0 100px;
  }
}

.comment p {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.gallery {
  padding: 0 15px;

  @media (min-width: 768px) {
    padding: 0 calc(200 / 1440 * 100%);
  }
}

.gallery ul {
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 15px 20px;
  
  @media (min-width: 1024px) {
    gap: 15px 52px;
  }
}

.gallery ul li {
  width: calc(50% - 10px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  @media (min-width: 1024px) {
    width: calc(25% - 39px);
  }
}

.gallery ul li a {
  cursor: pointer;
}

.gallery ul li img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery ul li span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #454545;
  margin-top: 2px;
}

.gallery .view__all__button {
  width: 108px;
  height: 108px;
  display: block;
  position: relative;
  margin: 65px auto 0;
  background-color: transparent;
  border: none;
  color: #454545;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Shippori Mincho", serif;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 163px;
    height: 163px;
    margin: 115px auto 0;
    font-size: 2.2rem;
  }
}

.gallery .view__all__button span {
  width: 100px;
  height: 100px;
  padding: 35px 0 39px;
  position: absolute;

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    padding: 60px 0 61px;
  }
}

.gallery .view__all__button span:nth-of-type(1) {
  z-index: 3;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
}
.gallery .view__all__button span:nth-of-type(2) {
  width: 101px;
  height: 101px;
  z-index: 2;
  border: 1px solid #FFFFFF;
  background-color: #D9D9D9;
  top: 3px;
  left: 3px;
  
  @media (min-width: 768px) {
    width: 151px;
    height: 151px;
    top: 5px;
    left: 5px;
  }
}
.gallery .view__all__button span:nth-of-type(3) {
  z-index: 1;
  background-color: #D9D9D9;
  top: 8px;
  left: 8px;
  
  @media (min-width: 768px) {
    top: 12px;
    left: 12px;
  }
}

.price ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: center;
  }
}

.price ul li {
  margin-bottom: 50px;
  padding: 11.5px 45px;
  list-style: none;
  border: 1px solid #000000;
  
  @media (min-width: 768px) {
    width: calc(810 / 1440 * 100%);
    max-width: 810px;
    margin-bottom: 40px;
    padding: 9.5px 45px;
  }
}

.price ul li:nth-of-type(2n + 1) {
  margin-right: 30px;
  border-left: none;
}

.price ul li:nth-of-type(2n) {
  margin-left: 30px;
  border-right: none;
}

.price ul li:nth-of-type(n) {
  @media (min-width: 768px) {
    border: 1px solid #000000;
  }
}

/* PC用 Priceデザイン */
.price ul li:nth-of-type(1) {
  @media (min-width: 768px) {
    margin-right: 30px;
    margin-left: 0;
  }
}

.price ul li:nth-of-type(2) {
  @media (min-width: 768px) {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.price ul li:nth-of-type(3) {
  @media (min-width: 768px) {
    margin-right: 0;
    margin-left: 30px;
  }
}

.price ul li:last-child {
  margin-bottom: 0;
}

.price ul li .title {
  font-size: 2rem;
  font-weight: 400;
  
  @media (min-width: 768px) {
    font-size: 2.2rem;
  }
}

.price ul li h3 {
  margin: 5px 0;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.price ul li h3 span {
  font-size: 2.4rem;
  font-weight: 400;
}

.price ul li .price__detail__link {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: right;

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}

.price ul li .price__detail__link a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.contact .contact__topic {
  margin-top: 100px;
  padding: 0 55px;
}

.contact .contact__topic p {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 400;
  }

}

.contact .contact__topic .sns__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 2rem;
    font-weight: 400;
  }
}

.contact .contact__topic .sns__list a {
  width: 141px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  @media (min-width: 768px) {
    width: 159px;
  }
}

.contact .contact__topic .sns__list img {
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.contact .contact__topic .sns__list li span {
  padding-left: 12px;
  cursor: pointer;
  color: #000000;
}

.contact .profile__img {
  width: 240px;
  height: 240px;
  margin: 80px auto 0;
  
  @media (min-width: 768px) {
    width: 300px;
    height: 320px;
    margin: 100px auto 0;
  }
}

.contact .profile__img img {
  width: 100%;
  height: 100%;
}
